<div id="pagewrap" class="pagewrap">
	<div [ngClass]="['container-prop', 'show']" id="page-2">
		<section class="menu cid-qr3YldfZxm" once="menu" id="menu2-1r" data-rv-view="264">
			<nav class="navbar navbar-dropdown align-items-center navbar-toggleable-sm bg-color transparent">
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<div class="hamburger">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</button>
				<div class="menu-logo">
					<div class="navbar-brand">
						<span class="navbar-logo">
							<a href="https://mobirise.com">
								<img src="./assets/mobirise/images/outlier-logo-02-02-1025x401.png" alt="Mobirise" title="" media-simple="true" style="height: 4.7rem;">
							</a>
						</span>
						
					</div>
				</div>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					
					
				</div>
			</nav>
		</section>


		<section class="engine"><a href="https://mobirise.co/j">how to design a website</a></section>
		<section class="cid-qr3XsxMLmt mbr-fullscreen mbr-parallax-background" id="header2-1n" data-rv-view="246">
			<div class="container align-center">
				<div class="media-container-column mbr-white col-md-10 offset-md-1">
					<h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">A SMARTER LOAN.
						<div>YOU  EARNED IT.
						</div>
					</h1>
				
					<p class="mbr-text pb-3 mbr-fonts-style display-5">You are more than your credit history. <strong>On Outlier,</strong> your<strong> quest,</strong> <strong>goals</strong><br>and <strong>unique experiences</strong> help you get the rate you deserve.&nbsp;<br></p>
					<div class="mbr-section-btn">
						<a class="btn btn-md btn-warning display-5 pageload-link" href="#page-2">GET STARTED</a> <a class="btn btn-md btn-danger display-5" href="#bottom">TELL ME MORE</a> 
					</div>
				</div>
			</div>
			<div class="mbr-arrow hidden-sm-down" aria-hidden="true">
				<a href="#next">
					<i class="mbri-down mbr-iconfont"></i>
				</a>
			</div>
		</section>

		<section class="header12 cid-qr3XxNdHcC mbr-fullscreen mbr-parallax-background" id="header12-1o" data-rv-view="249">
			<div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(57, 2, 90);">
			</div>

			<div class="container">
					<div class="media-container">
						<div class="col-md-12 align-center">
							<h1 class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style display-2">FOUNDED TO POWER YOUR DREAMS</h1>

							<div class="icons-media-container mbr-white">
								<div class="card col-12 col-md-6 col-lg-3">
									<div class="icon-block">
									<a href="https://mobirise.com/">
										<span class="mbr-iconfont mbri-save" media-simple="true"></span>
									</a>
									</div>
									<h5 class="mbr-fonts-style display-5">Lower rates<br><br></h5>
								</div>

								<div class="card col-12 col-md-6 col-lg-3">
									<div class="icon-block">
										<a href="https://mobirise.com/">
											<span class="mbr-iconfont mbri-calendar" media-simple="true"></span>
										</a>
									</div>
									<h5 class="mbr-fonts-style display-5">Quick and easy</h5>
								</div>

								<div class="card col-12 col-md-6 col-lg-3">
									<div class="icon-block">
										<a href="https://mobirise.com/">
											<span class="mbri-cash mbr-iconfont" media-simple="true"></span>
										</a>
									</div>
									<h5 class="mbr-fonts-style display-5">No prepayment penalty</h5>
								</div>

								<div class="card col-12 col-md-6 col-lg-3">
									<div class="icon-block">
										<a href="https://mobirise.com/">
											<span class="mbr-iconfont mbri-lock" media-simple="true"></span>
										</a>
									</div>
									<h5 class="mbr-fonts-style display-5">Secure process</h5>
								</div>
							</div>
						</div>
					</div>
			</div>
		</section>

		<section class="mbr-section form1 cid-qr3XAAi9hF mbr-parallax-background" id="form1-1p" data-rv-view="252">
			<div class="container">
				<div class="media-container-column title col-12 col-lg-8 offset-lg-2">
					<h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2"><font color="#ff3366"><strong>STILL HAVE QUESTIONS?</strong></font></h2>
					<h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">We'll email you more information about Peer-to-Peer Lending* and why we believe it's better.</h3>
				</div>
			</div>

			<div class="container">
				<div class="media-container-column col-lg-8 offset-lg-2" data-form-type="formoid">
						<div data-form-alert="" hidden="">Thanks for filling out the form!</div>

						<form class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form"><input type="hidden" data-form-email="true" value="DIGqH40LBiCFcJWlpAasRQJiblREGs7sHzXUBS4gv45mTQ/4YSdEPX1r7XI5W2/8h07U/3yWjBNkMx7+5WokZUBDT/2RUouXi2Qk9dr+ptADvPjTz74na2SE5AcvICFn">
							<div class="row row-sm-offset">
								<div class="col-md-4 multi-horizontal" data-for="name">
									<div class="form-group">
										<label class="form-control-label mbr-fonts-style display-7" for="name-form1-1p">Name</label>
										<input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-1p">
									</div>
								</div>
								<div class="col-md-4 multi-horizontal" data-for="email">
									<div class="form-group">
										<label class="form-control-label mbr-fonts-style display-7" for="email-form1-1p">Email</label>
										<input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-1p">
									</div>
								</div>
								<div class="col-md-4 multi-horizontal" data-for="phone">
									<div class="form-group">
										<label class="form-control-label mbr-fonts-style display-7" for="phone-form1-1p">Phone</label>
										<input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-1p">
									</div>
								</div>
							</div>
							

							<span class="input-group-btn">
								<button href="" type="submit" class="btn btn-form btn-secondary display-4">SUBMIT</button>
							</span>
						</form>
				</div>
			</div>
		</section>

		<section once="" class="cid-qqV8UtmXmp" id="footer7-12" data-rv-view="255">
			<div class="container">
				<div class="media-container-row align-center mbr-white">
					
					
					<div class="row row-copirayt">
						<p class="mbr-text mb-0 mbr-fonts-style mbr-white display-7">&nbsp;© Copyright 2017 Outlier - All Rights Reserved&nbsp;<br></p>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- The new page dummy; this would be dynamically loaded content -->
	<div [ngClass]="['container-prop', 'row']">
		
			<div id="overlay" class="overlay animated fadeIn"></div>
				<div id="about" class="chat-about" data-animate="animated slideInLeft" style="background:#27013e;color:white;">
					<div class="hide visible-sm visible-xs" data-div="about"><i class="ion-close-round"></i></div>
					<div class="logo"><img src="./assets/mobirise/images/outlier-logo-02-02-1025x401.png" alt="Mobirise" title="" media-simple="true" style="height: 4.7rem;"></div>
					<h1>Otti<span style="color:#8b911c" class="title">e</span></h1>
					<h2 style="color:white;">You are more than your credit history. On Outlier, your quest, goals and unique experiences help you get the rate you deserve. </h2>
					<div class="credits"><a class="font-bold" href="https://eatdrinklagos.com/" target="_blank">
						Outlier Financial Services</a> + <a class="font-bold" href="#">Ottie</a> &copy; 2017
					</div>
				</div>
				<div id="chat-wrapper" class="chat-wrapper">
					<div class="chat-header animated fadeInDown" style="background:#27013e;">
						<a class="show icon visible-sm visible-xs" data-div="about"><i class="ion-ios-information-outline"></i></a> Ottie Outlier
						<a class="show icon right visible-sm visible-xs" data-div="history"><i class="ion-bookmark"></i></a>
					</div>
					<div id="thread-container" class="chat-body messages">
						<div id="thread" class="messages-content chat-body-container">
							<div *ngFor="let message of parsed_convo">
								<div *ngIf="message.class == 'loading'" class="message loading new">
									<figure class="avatar">
										<img width="30" src="../assets/images/ottie.png" />
									</figure><span></span>
									<div class="clearfix"></div>
								</div>

								<div class="message new" *ngIf="message.class == 'new'">
									<figure class="avatar">
										<img width="30" src="../assets/images/ottie.png" />
									</figure>
									<article innerHTML="{{message.message}}">{{ message.message }}</article>
									<div class="clearfix"></div>
									
								</div>
								<div class="message message-personal new" *ngIf="message.class == 'personal'">
									{{ message.message }}
									<div class="clearfix"></div>									
								</div> 
								<div class="clearfix"></div>								
							</div>
							<div *ngIf="ButtonVariables" style="position:relative;bottom:0px;left:0;width:100%;color:black;" class="message_button text-center">
								<div class="clearfix"></div>								
								<span *ngFor="let message of answerParams.text;let i=index">
									<button style="margin: .4rem .0rem;" innerHTML="{{answerParams.text[i]}}" (click)="sendConversationMessage(answerParams.text[i], answerParams.next[i])"  class="btn btn-sm btn-primary"></button>
								</span>
							</div>	
						</div>
					</div>
					<div id="chat-field" class="chat-field animated fadeInUp">
						<input id="chat-input" class="chat-input message-input" type="text" #message (keyup.enter)="sendConversationMessage(message.value)" class="form-control" placeholder="Message Ottie">
					</div>
				</div>
				<div id="history" class="chat-history" data-animate="animated slideInRight">
					<div class="hide from-left visible-sm visible-xs" data-div="history"><i class="ion-close-round"></i></div>
					<h3 class="section-title">Saved Data</h3>
					<div id="no-saved-restaurants" class="no-history" style="display: none">
						<p>Using this for the first time? You have nothing saved yet.</p>
					</div>
					<div id="saved-data" class="restaurant-list">
					</div>
				</div>
		
	</div>

	<div id="loader" class="pageload-overlay" data-opening="M -18 -26.90625 L -18 86.90625 L 98 86.90625 L 98 -26.90625 L -18 -26.90625 Z M 40 29.96875 C 40.01804 29.96875 40.03125 29.98196 40.03125 30 C 40.03125 30.01804 40.01804 30.03125 40 30.03125 C 39.98196 30.03125 39.96875 30.01804 39.96875 30 C 39.96875 29.98196 39.98196 29.96875 40 29.96875 Z">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="xMidYMid slice">
			<path d="M -18 -26.90625 L -18 86.90625 L 98 86.90625 L 98 -26.90625 L -18 -26.90625 Z M 40 -25.6875 C 70.750092 -25.6875 95.6875 -0.7500919 95.6875 30 C 95.6875 60.750092 70.750092 85.6875 40 85.6875 C 9.2499078 85.6875 -15.6875 60.750092 -15.6875 30 C -15.6875 -0.7500919 9.2499078 -25.6875 40 -25.6875 Z"/>
		</svg>
	</div>
</div>