<section class="features3 cid-qr5ChjTGu0 mbr-parallax-background" id="features3-1s" data-rv-view="269">
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/dan-gold-5909x3889.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">GET PERSONAL LOANS
                        <div><br></div></h4>
                        <p class="mbr-text mbr-fonts-style display-7">Easy, transparent, flexible, short term credit for pressing needs.&nbsp;<br><br></p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="/personal" class="btn btn-warning display-4">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/fabian-irsara-5046x3364.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-4">
                            
                        <div><span style="color: inherit; font-size: 1rem;">GET PRACTICE&nbsp;</span><span style="color: inherit; font-size: 1rem;">LOANS&nbsp;</span></div><div><br></div></h4>
                        <p class="mbr-text mbr-fonts-style display-7">Designed to help you start, build and sustain a healthy hustle&nbsp;<br><br></p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="/practice" class="btn btn-primary display-4">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/dan-gold-1-5909x3889.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            
                        <div><span style="color: inherit; font-size: 1rem;">GET STARTUP/SMALL BUSINESS LOANS</span><br></div><div><br></div></h4>
                        <p class="mbr-text mbr-fonts-style display-7">Loans to help you manage your cashflow, purchase inventory and hire more &nbsp;<br></p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="/business" class="btn btn-info display-4">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>
<section class="row">
    <div class="col-md-4 col-lg-3 col-sm-6 offset-md-8 offset-lg-9 offset-sm-6 text-center" style="left:0;border-radius:3px;background:navajowhite; position: fixed;width: 100%;bottom: 0;z-index: 1000;">
        <div><p style="padding-top:5px;font-size:16px;" id="chatToggle"><a href="https://my-watson-poc.eu-gb.mybluemix.net" target="_blank">Have questions, Click to ask</a></p></div>
         <div style="display:none;" id="chatInterface hide"> <!-- Remove hide from class later -->
            <div class="chat-interface">
                <div class="chat-history-list">
                    <ul>
                        <li class="clearfix">
                            <div class="message-data align-right">
                            <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
                            <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
                            
                            </div>
                            <div class="message other-message float-right">
                            Hi Vincent, how are you? How is the project coming along?
                            </div>
                        </li>
                        
                        <li class="left-chat">
                            <div class="message-data">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:12 AM, Today</span>
                            </div>
                            <div class="message my-message">
                            Are we meeting today? Project has been already finished and I have results to show you.
                            </div>
                        </li>
                        
                        <li class="clearfix">
                            <div class="message-data align-right">
                            <span class="message-data-time" >10:14 AM, Today</span> &nbsp; &nbsp;
                            <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
                            
                            </div>
                            <div class="message other-message float-right">
                            Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                            </div>
                        </li>
                        
                        <li class="left-chat">
                            <div class="message-data">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                            <span class="message-data-time">10:20 AM, Today</span>
                            </div>
                            <div class="message my-message">
                            Actually everything was fine. I'm very excited to show this to our team.
                            </div>
                        </li>                    
                    </ul>
                </div> <!-- end chat-history -->
            
                <div class="chat-message clearfix">
                    <textarea name="message-to-send" #message (keyup.enter)="sendConversationMessage(message.value)" id="message-to-send" placeholder ="Type your message" rows="2"></textarea>
                </div> <!-- end chat-message -->
            
            </div> <!-- end chat -->
        </div> 
    </div>
</section>
<section once="" class="cid-qqV4yCcNWC" id="footer7-10" data-rv-view="272">
    <div class="container">
        <div class="media-container-row align-center mbr-white">            
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white display-7">&nbsp;© Copyright 2017 Outlier - All Rights Reserved&nbsp;<br></p>
            </div>
        </div>
    </div>
</section>