<section class="cid-qqUXi740Fr mbr-fullscreen mbr-parallax-background" id="header15-x" data-rv-view="266">
    <div class="container align-right">
        <div class="row">
            <div class="mbr-white col-lg-8 col-md-7 content-container">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">WELCOME TO OUTLIER</h1>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Log in to unlock financial solutions that are mindful of your unique quest and are tailored to help you make it happen.
                </p>
            </div>
            <div class="col-lg-4 col-md-5">
            <div class="form-container">
                <div class="media-container-column" data-form-type="formoid">
                    <div data-form-alert="" hidden="" class="align-center">Thanks for filling out the form!</div>
                    <form class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form"><input type="hidden" data-form-email="true" value="T9NCdVxzT8JWGPOs1AMqQUuiLuK4lm/Z3HZVG+bSC686LACVV5crMeIA1SeYwqpnjeaB6DBcp6UMEtosaEE5etyycXABV7+4gdcqI0NBJFGbjkc5JZ/TNo/KZj/2tSYE">
                        <div data-for="name">
                            <div class="form-group">
                                <input type="text" class="form-control px-3" name="name" data-form-field="Name" placeholder="Email" required="" id="name-header15-x">
                            </div>
                        </div>
                        <div data-for="email">
                            <div class="form-group">
                                <input type="email" class="form-control px-3" name="email" data-form-field="Email" placeholder="Phone" required="" id="email-header15-x">
                            </div>
                        </div>
                        <div data-for="phone">
                            <div class="form-group">
                                <input type="tel" class="form-control px-3" name="phone" data-form-field="Phone" placeholder="Password" id="phone-header15-x">
                            </div>
                        </div>
                        
                        <span class="input-group-btn">
                            <a href="/landing" type="submit" class="btn btn-secondary btn-form display-5">LOG IN</a>
                        </span>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>   
</section>